.grid-item {
  float: left;
  width: 80px;
  height: 60px;
  border: 2px solid hsla(0, 0%, 0%, 0.5);
}

.grid-item--width2 { width: 160px; }
.grid-item--height2 { height: 140px; }

.staff_container {
  height: 100%;
  padding: 5% 0;

}

.container_foto {
/*
  background-color: rgba(57, 62, 93, 0.7);
*/
  background-color: #4B1F50;
  border-radius: 25px;
  border: #333 solid 1px;
  padding: 0;
  overflow: hidden;
  max-width: 350px;
  margin: 5px;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
}

.container_foto article {
  margin: 13 auto;
  padding: 10%;
  position: absolute;
  bottom: 0;
  z-index: 1;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  -ms-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

.container_foto h2 {
  color: #fff;
  font-weight: 800;
  font-size: 25px;
  border-bottom: #fff solid 1px;
  text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
  -webkit-box-shadow: 0 4px 6px -6px #222;
  -moz-box-shadow: 0 4px 6px -6px #222;
  box-shadow: 0 4px 6px -6px #222;
}

.container_foto h4 {
  font-weight: 300;
  color: #fff;
  font-size: 16px;
  text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}

.container_foto img {
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0.7;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
 
}

.ver_mas {
  background-color: #FEB66C;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: 1;
  padding-top: 10px;
  opacity: 0;
  transform: translate(0px, 70px);
  -webkit-transform: translate(0px, 70px);
  -moz-transform: translate(0px, 70px);
  -o-transform: translate(0px, 70px);
  -ms-transform: translate(0px, 70px);
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  -ms-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.ver_mas a span {
  font-size: 40px;
  color: #fff;
/*
  position: relative;
  position:absolute; 
  width: 100%;*/
  margin: 13 auto;
  top: 13px;
  bottom:0rem; 
  right:0.5rem; 
  color: white; 
  font-weight: 600; 
  text-shadow: 1px 1px 1px rgba(0,0,0, 0.2);
}


/*hovers*/

.container_foto:hover {
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0,0,0, 0.3);
}

.container_foto:hover img{
  opacity: 1;
  transform: scale(1.2);
   mix-blend-mode: luminosity;
}

.container_foto:hover #seller{
  transform: translate(2px, -69px);
  -webkit-transform: translate(2px, -69px);
  -moz-transform: translate(2px, -69px);
  -o-transform: translate(2px, -69px);
  -ms-transform: translate(2px, -69px);
}
.container_foto:hover article {

}

.container_foto:hover .ver_mas {
  transform: translate(0px, 0px);
  -webkit-transform: translate(0px, 0px);
  -moz-transform: translate(0px, 0px);
  -o-transform: translate(0px, 0px);
  -ms-transform: translate(0px, 0px);
  opacity: 1;
}
.ver_mas a:hover span{
  transform: translate(0px, 0px);
  text-shadow: 2px 2px 2px rgba(0,0,0, 0.5);
}
.ver_mas a:focus span{
  transform: translate(0px, 0px);
  text-shadow: 0px 0px 0px rgba(0,0,0, 0.0);
}

