/* To get rid of an annoying white stripe */
.modal-header
{
    margin-bottom: -5px;
}

/* To manipulate the wizard header and footer */
.modal-content
{
    border:2px solid #1b0c36; 
    border-radius: 10px !important;
    color:#1b0c36;
}

/* Change color of the form/body */
/* .wizard-form
{
    background-color: #a27de6;
} */

/* Move button to the left */
.btn-success
{
    margin-left: -15px;
}

.custom_tree_view{
    width: 75%;
    margin-left: auto;
    margin-right: auto;
}